html {
        background-image: linear-gradient(#3ca8ff, #383cff);
        font-family: 'Cabin', sans-serif;
}

h1 {
        font-size: 350%;
        color: #0c0f32;
        text-align: center;
}

.game {
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        justify-content: center;
        perspective: 1000px;
}

.card {
        margin: 5px;
        height: 200px;
        width: 200px;
        background-image: url(../images/card.jpg);
        position: relative;
        transform-style: preserve-3d;
        transition: 0.5s ease-in-out;
        border: 2px rgb(0, 0, 0) solid;
}

.picture,
.back {
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        pointer-events: none;
}

.picture {
        transform: rotateY(-180deg);
}

.back {
        transform: rotateY(0);
}

.flipCard,
.correct {
        transform: rotateY(180deg);
}

.guesses {
        font-size: 200%;
        color: #ffffff;
        text-align: center;
        background-color: #1e2a40;
        border-radius: 20px;
}

.win {
        position: absolute;
        z-index: 100;
        margin-top: 35%;
        background-color: #383cff;
        border: 5px white solid;
        border-radius: 5%;
        margin-left: 33%;

}