html {
        background-image: linear-gradient(#3ca8ff, #383cff);
        font-family: 'Cabin', sans-serif;
        height: 100vh;
}

h1 {
        font-size: 350%;
        color: #0c0f32;
        text-align: center;
        margin: 10px;
        text-decoration: underline;
}

.difficulty {
        margin: auto;
        width: fit-content;
}

button {
        display: inline-block;
        padding: 6px 20px;
        margin: 0 2px 2px 0;
        border: 3px solid rgba(255, 255, 255, 0);
        border-radius: 20px;
        box-sizing: border-box;
        text-decoration: none;
        color: #FFFFFF;
        background-color: #1e2a40;
        text-shadow: 0 0.5px 0.5px rgba(255, 255, 255, 0.35);
        text-align: center;
        transition: all 0.2s;
}

button:hover {
        border-color: rgba(255, 255, 255, 1);
}

.easy-game {
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        justify-content: center;
        perspective: 1000px;
}

.medium-game {
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 0px;
        justify-content: center;
        perspective: 1000px;
}

.hard-game {
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-gap: 0px;
        justify-content: center;
        perspective: 1000px;
}

.card {
        margin: 5px;
        height: 150px;
        width: 150px;
        background: url(../images/card.jpg);
        background-size: contain;
        position: relative;
        transform-style: preserve-3d;
        transition: 0.5s ease-in-out;
        border: 2px rgb(0, 0, 0) solid;
        
}

.card:hover {
        border-color: rgba(255, 255, 255, 1);
}

.easy-game>.card {
        height: 150px;
        width: 150px;
}

.medium-game>.card {
        height: 100px;
        width: 100px;
}

.hard-game>.card {
        height: 100px;
        width: 100px;
}


.picture,
.back {
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        pointer-events: none;
}

.picture {
        transform: rotateY(-180deg);
}

.back {
        transform: rotateY(0);
}

.flipCard,
.correct {
        transform: rotateY(180deg);
        pointer-events: none;
}

.guesses {
        font-size: 200%;
        color: #ffffff;
        text-align: center;
        background-color: #1e2a40;
        border-radius: 20px;
        width: 500px;
        margin: auto;
}

.win-holder {
        height: 0px;
        font-size: 150%;
}

.win {
        position: absolute;
        z-index: 100;
        margin-top: 35%;
        background-color: #383cff;
        border: 5px white solid;
        border-radius: 5%;
        margin-left: 33%;

}

.congratulations {
        width: 75%;
        padding: 10px;
        margin: auto;
        background-color: white;
        text-align: center;
        transform: translate(0px, -600px);
        border: 2px black solid;
}

.congratulationsHidden {
        opacity: 0.0;
        pointer-events: none;
}

/* (A) FIXED WRAPPER */
.hwrap {
        overflow: hidden; /* HIDE SCROLL BAR */
        background: #eee;
      }
       
      /* (B) MOVING TICKER WRAPPER */
      .hmove { display: flex; }
      
      /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
      .hitem {
        flex-shrink: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        font-size: 200%;
      }
       
      /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
      /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
      @keyframes tickerh {
        0% { transform: translate3d(100%, 0, 0); }
        100% { transform: translate3d(-400%, 0, 0); }
      }
      .hmove { animation: tickerh linear 15s infinite; }

@media (max-width: 900px) {

        .easy-game>.card {
                height: 100px;
                width: 100px;
        }

        .medium-game>.card {
                height: 75px;
                width: 75px;
        }

        .hard-game>.card {
                height: 75px;
                width: 75px;
        }

        .guesses {
                font-size: 150%;
                width: 400px;

        }
}

@media (max-width: 700px) {
        .hard-game>.card {
                height: 50px;
                width: 50px;
        }
}

@media (max-width: 650px) {

        h1 {
                font-size: 250%;
        }

        .game {
                grid-gap: 5px;
        }

        .card {
                height: 75px;
                width: 75px;
                margin: 3px;
        }

        .guesses {

                width: 300px;

        }
}

@media (max-width: 500px) {

        h1 {
                font-size: 150%;
        }

        .game {
                grid-gap: 2.5px;
        }

        .easy-game>.card {
                height: 50px;
                width: 50px;
                margin: 2px;
        }

        .medium-game>.card {
                height: 50px;
                width: 50px;
                margin: 2px;
        }

        .hard-game>.card {
                height: 40px;
                width: 40px;
        }



        .guesses {
                font-size: 100%;
                width: 200px;

        }
}