.game {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
        justify-content: center;
}

.front {
        margin: 5px;
        height: 200px;
        width: 200px;
        background-color: blue;
        position: relative;
}

.picture, .back {
        height: 100%;
        width: 100%;
        border: 1px black solid;
        position: absolute;
}